body {
	text-align: center;
}
h1, a, h2 {
	font-family: Raleway;
	letter-spacing: 1px;
}
p {
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px
}
.weight {
	font-weight: 600;
}
h1 {
	font-weight: 400;
	font-size: 45px;
}
a {
	color: #F15B31;
	font-size: 18px;
}
.color {
	color: #0D2C40;
}